@font-face {
	font-family: 'RobotoRegular';
	src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Playfair_regular';
	src: url('..//playffontsair_display/static/PlayfairDisplay-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
*,
::before,
::after {
  box-sizing: inherit;
}
:root {
  font-size: 0.785rem;
}
:root {
  box-sizing: border-box;
  }
  *,
  ::before,
  ::after {
  box-sizing: inherit;
  }
  :root {
  font-size: 0.785rem;
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --dark: #292a2b;
  }
  img {
      width: 100%;
      height: auto;
  }
  body {
      background-color: hsl(0, 0%, 100%);
  }
  .section2 {
      width: 85%;
      margin: 0%;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      display: flex;
  }
  .card {
      flex-direction: column;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  .card-conte {
      padding: auto;
      margin-top: 3em;
      text-align: center;
  
  }
  .card-conte h3 {
      text-align: center;
      margin: auto;
  }
  .TITULO {
      color: pink;
      font-size: 1.2em;
      font-family: 'RobotoRegular';
      }
      h3 {
          width: 85%;
          font-size: 3em;
          font-family: 'Playfair_regular';
          padding-top: 1rem;
      }
      .link{
          padding: 2em;
          margin: auto;
      }
  .link a {
      color: black;
      margin: 1em;
      font-size: 1em;
      text-decoration: none;
      padding: 0.5em 1em;
      border: 2px solid white;
  }

  .link a:hover{
    color: #d63384;
    border: 2px solid pink;
  }

  .link a.all {
    border: 2px solid pink;
    padding: 0.5em 1em;
  }
  .content {
      text-align: center;
      display: flex;
      margin: 5em;
      flex-wrap: wrap;
  }

  .content > div{
    width: 20%;
    margin: 0 0 4em;
  }

  .content > div > div{
    padding: 0.5em 1em;
  }

  .image {
    background-image: url("img_section2/cactu1.jpg");
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 90%;
  }
  .view a {
    text-decoration: none;
    text-align: center;
    color: black;
    border-bottom: 2px solid black;
    margin: 2em;
    font-family: 'RobotoRegular';
    font-size: 1.5em;
  }
 
