@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Playfair_regular";
  src: url("../fonts/playfair_display/static/PlayfairDisplay-Regular.ttf")
    format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}

:root {
  font-size: 0.785rem;
  --light-pink: #f466a9;
  --black: #11111e;
  --dark-gray: #676c6f;
  --white: #fff;
}
body {
  min-width: 250px;
  max-width: 20000px;
}

/* Header */
header {
  --multiplier-font-factor: 1;
  --multiplier-margin-factor: 1;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: space-around;
}
header * {
  transition: all 0.3s ease-in-out;
}
header .header_menu {
  width: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1% 0;
  margin: 0 auto;
}
header .header_buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
header .left_buttons, header .right_buttons {
  margin: 0 1%;
}
header .left_buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding: 1% 0;
}
header .right_buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding: 1% 0;
}
header .main_icon {
  padding: 0 0 0 1em;
  width: calc(5em * var(--multiplier-font-factor));
  aspect-ratio: 2 / 1.3;
  background-image: url(../img/logoo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header .header_buttons i {
  font-size: calc(1.2rem * var(--multiplier-font-factor));
  color: inherit;
  margin: 0 0.2em 0 0;
}
header .menu_button {
  font-size: calc(1rem * var(--multiplier-font-factor));
  font-family: "RobotoRegular";
  color: var(--black);
  display: flex;
  flex-direction: row;
  background: none;
  justify-content: flex-end;
  margin: 0 calc(1.5em * var(--multiplier-margin-factor));
  text-decoration: none;
}
header .menu_button:hover {
  color: var(--light-pink);
  transform: scale(1.05);
}
header .menu_icon {
  font-size: calc(1rem * var(--multiplier-font-factor));
  font-family: "RobotoRegular";
  color: var(--black);
  display: flex;
  flex-direction: row;
  background: none;
  align-items: center;
  margin: 0 0.4em;
  text-decoration: none;
}
header .menu_icon p {
  margin: 0 0.2em;
}
header .home_button {
  color: var(--light-pink);
}
header .header_menu p {
  font-size: calc(0.8rem * var(--multiplier-font-factor));
  font-family: "RobotoRegular";
  color: inherit;
  margin: 0 0 0 0.2em;
}
header p.important_info {
  color: var(--light-pink);
}
header .header_menu .right_buttons .menu_icon:hover {
  color: var(--light-pink);
  transform: scale(1.05);
}
header .banner_area {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: flex-start;
}
header .banner_image {
  padding: 0;
  width: 100%;
  background-image: url(../img/Banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header .banner_info {
  width: 85%;
  margin: 7.5em auto 7.5em;
}
header .banner_info h3 {
  font-family: "RobotoRegular";
  color: var(--black);
  font-size: calc(0.8rem * var(--multiplier-font-factor));
  margin: 0 0 1em;
  font-weight: 500;
}
header .banner_info h2 {
  font-family: "Playfair_regular";
  color: var(--black);
  font-size: calc(2rem * var(--multiplier-font-factor));
  margin: 0 0 1em;
  font-weight: 500;
}
header .banner_info a  {
  font-family: "RobotoRegular";
  color: var(--white);
  font-size: calc(0.8rem * var(--multiplier-font-factor));
  padding: 1em 1.75em;
  background-color: var(--light-pink);
  border-radius: 2em;
  font-weight: 900;
  text-decoration: none;
  border: solid 2px var(--light-pink);
}
header a {
  cursor: pointer;
}
header .banner_info a:hover {
  background-color: var(--white);
  color: var(--light-pink);
}

/* END header */

/* Section 1 */
.section_01 {
  width: 85%;
  margin: 0 auto;
  --multiplier-font-factor: 1;
}
.section_01 * {
  transition: all 0.3s ease-in-out;
}
.section_01 .business_qualities,
.section_01 .product_display {
  width: 100%;
  margin: 1em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}
.section_01 .business_qualities_box,
.section_01 .product_display_box {
  width: 23.5%;
  margin: 2% 0;
}
.section_01 .business_qualities_box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: space-around;
}
.section_01 .business_icon {
  width: 20%;
  display: flex;
  justify-items: center;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  padding: 0.25% 0;
}
.section_01 .business_icon i {
  color: var(--light-pink);
  font-size: calc(1.75rem * var(--multiplier-font-factor));
  margin: 0.25% 0;
  cursor: pointer;
}
@keyframes go-around {
  from {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-.25em) skew(10deg);
  }
  75% {
    transform: translateY(.25em) skew(-10deg);
  }
  to {
    transform: translateY(0);
  }
}
.section_01 .business_icon i:hover {
  animation: go-around 1s ease-in-out;
  animation-iteration-count: 4;
  animation-direction: normal;
}
.section_01 .business_info {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;
}
.section_01 .business_info h3,
.section_01 .product_info h2 {
  font-family: "Playfair_regular";
  font-size: calc(1.2rem * var(--multiplier-font-factor));
  font-weight: 400;
  color: var(--black);
}
.section_01 .business_info p,
.section_01 .product_info p {
  font-family: "Playfair_regular";
  font-size: calc(1rem * var(--multiplier-font-factor));
  font-weight: 400;
  color: var(--dark-gray);
}
.section_01 .business_info h3,
.section_01 .business_info p {
  margin: 0.25em 0;
}
.section_01 .product_info h2,
.section_01 .product_info p {
  text-align: center;
}
.section_01 .image_01 {
  background-image: url(../img/vase-flower-01.jpg);
}
.section_01 .image_02 {
  background-image: url(../img/vase-flower-02.jpg);
}
.section_01 .image_03 {
  background-image: url(../img/vase-flower-03.jpg);
}
.section_01 .image_04 {
  background-image: url(../img/vase-flower-04.jpg);
}
.section_01 .product_display_box {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  aspect-ratio: 3 / 4;
  cursor: pointer;
  box-shadow: 0 0 1.2em grey;
}
.section_01 .product_display_box:hover {
  transform: scale(1.05);
}
.section_01 .product_image {
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 1;
}
.section_01 .product_info {
  background-color: var(--white);
  padding: 3% 1%;
  width: 90%;
  height: fit-content;
  margin: 0 0 5% -95%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section_01 .service_description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  margin: 0 0 5%;
}
.section_01 .service_title {
  width: 40%;
}
.section_01 .service_info {
  width: 55%;
}
.section_01 .service_title h2 {
  font-family: "Playfair_regular";
  font-size: calc(2.9rem * var(--multiplier-font-factor));
  color: var(--black);
  text-align: left;
}
.section_01 .service_title p,
.section_01 .contact_info h3 {
  font-family: "RobotoRegular";
  font-size: calc(1rem * var(--multiplier-font-factor));
  font-weight: 600;
  color: var(--light-pink);
  text-align: left;
}
.section_01 .service_info p,
.section_01 .contact_info p {
  font-family: "RobotoRegular";
  font-size: calc(1.2rem * var(--multiplier-font-factor));
  line-height: calc(2.2rem * var(--multiplier-font-factor));
  color: var(--dark-gray);
  text-align: left;
}
.section_01 .contact_component {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 4em 0;
}
.section_01 .contact_image {
  padding: 0;
  background-image: url(../img/Girl-flower.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 60%;
  margin: 4% 0 0 0;
  z-index: 1;
}
.section_01 .contact_info {
  width: 50%;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.4);
  margin: 0 0 4% -5%;
  background-color: var(--white);
  z-index: 2;

}
.section_01 .contact_info h2,
.section_01 .contact_info p {
  margin: 2.5% 5% 0;
}
.section_01 .contact_info h2 {
  font-family: "Playfair_regular";
  font-size: calc(2.5rem * var(--multiplier-font-factor));
  color: var(--black);
  text-align: left;
  margin: 2.5% 5% 0;
}
.section_01 .contact_info h3 {
  margin: 5% 5% 0;
}
.contact_button {
margin: 5% 5% 7.5%;
}
.section_01 .contact_info a {
  text-decoration: none;
  padding: 1em 1.75em;
  border-radius: 2em;
  font-family: "RobotoRegular";
  font-size: calc(0.8rem * var(--multiplier-font-factor));
  font-weight: 900;
  color: var(--white);
  background-color: var(--light-pink);
  cursor: pointer;
}
.section_01 .contact_info a:hover {
  background-color: var(--white);
  color: var(--light-pink);
  border: solid 2px var(--light-pink);
}
/* END Section 1 */

/*RESPONSIVES*/
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 2000px) {
  header {
    --multiplier-margin-factor: 1;
  }
  .section_01, header {
    --multiplier-font-factor: 1.2;
  }
}

/* Large devices (laptops/desktops, between 993px and 1200px) */
@media only screen and (max-width: 1200px) {
  header {
    --multiplier-margin-factor: 0.8;
  }
  .section_01, header {
    --multiplier-font-factor: 1.1;
  }
}

/* Large devices (laptops/desktops, between 769px and 992px) */
@media only screen and (max-width: 992px) {
  header {
    --multiplier-margin-factor: 0.7;
  }
  .section_01, header {
    --multiplier-font-factor: 0.9;
  }
}

/* Medium devices (landscape tablets, between 601px and 768px) */
@media only screen and (max-width: 768px) {
  header {
    --multiplier-margin-factor: 0.5;
  }
  .section_01, header {
    --multiplier-font-factor: 1;
  }
  header .header_buttons {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  header .left_buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 1% 0;
    width: 100%;
  }
  header .right_buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1% 0;
    width: 100%;
    justify-content: flex-end;
  }
  header .main_icon {
    width: calc(7em * var(--multiplier-font-factor));
  }
  .section_01 .business_qualities_box,
  .section_01 .product_display_box {
    width: 47%;
  }
  .section_01 .contact_component {
    flex-direction: column;
    margin: 2em 0;
    height: fit-content;
  }
  .section_01 .contact_image {
    width: 90%;
    padding: 30% 0;
    margin: 0 10% 0 0;
  }
  .section_01 .contact_info {
    width: 90%;
    margin: -5% 0 0 10%;
  }
}

/* Extra small devices (phones, between 500 px and 600px) */
@media only screen and (max-width: 600px) {
  /* Header */
  header {
    --multiplier-margin-factor: 0.25;
  }
/* End Header */

  /* Section 1 */
  .section_01, header {
    --multiplier-font-factor: 1;
  }
  .section_01 .service_description {
    flex-direction: column;
  }
  .section_01 .service_title {
    width: 100%;
  }
  .section_01 .service_info {
    width: 100%;
  }
  /* End Section 1 */
}

/* Very small devices (phones, smaller than 500 px) */
@media (max-width: 500px) {
  header {
    --multiplier-margin-factor: 0.25;
  }
  .section_01, header {
    --multiplier-font-factor: 0.8;
  }

  header .header_buttons {
    width: 80vw;
  }
  header .left_buttons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: .5em;
  }
  header .menu_button {
    justify-content: right;
    align-items:flex-start;
    height: 100%;
  }
  header .home_button {
    grid-row: span 2;
  }
  .section_01 .business_qualities_box,
  .section_01 .product_display_box {
    width: 100%;
  }
}
