@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Playfair_regular";
  src: url("../fonts/playfair_display/static/PlayfairDisplay-Regular.ttf")
    format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}

:root {
  font-size: 0.785rem;
  --light-pink: #f466a9;
  --black: #11111e;
  --dark-gray: #676c6f;
  --white: #fff;
}

body {
  min-width: 250px;
  max-width: 20000px;
}

/* Section 1 */
.section_01 {
  width: 85%;
  margin: 0 auto;
}
.section_01 .business_qualities,
.section_01 .product_display {
  width: 100%;
  margin: 1em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}
.section_01 .business_qualities_box,
.section_01 .product_display_box {
  width: 23.5%;
  margin: 2% 0;
}
.section_01 .business_qualities_box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: space-around;
}
.section_01 .business_icon {
  width: 20%;
  display: flex;
  justify-items: center;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  padding: 0.25% 0;
}
.section_01 .business_icon i {
  color: var(--light-pink);
  font-size: 2rem;
  margin: 0.25% 0;
}
.section_01 .business_info {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;
}
.section_01 .business_info h3,
.section_01 .product_info h2 {
  font-family: "Playfair_regular";
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--black);
}
.section_01 .business_info p,
.section_01 .product_info p {
  font-family: "Playfair_regular";
  font-size: 1rem;
  font-weight: 400;
  color: var(--dark-gray);
}
.section_01 .business_info h3,
.section_01 .business_info p {
  margin: 0.25em 0;
}
.section_01 .product_info h2,
.section_01 .product_info p {
  text-align: center;
}
.section_01 .image_01 {
  background-image: url(../img/vase-flower-01.jpg);
}
.section_01 .image_02 {
  background-image: url(../img/vase-flower-02.jpg);
}
.section_01 .image_03 {
  background-image: url(../img/vase-flower-03.jpg);
}
.section_01 .image_04 {
  background-image: url(../img/vase-flower-04.jpg);
}
.section_01 .product_display_box {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  aspect-ratio: 3 / 4;
}
.section_01 .product_image {
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 1;
}
.section_01 .product_info {
  background-color: var(--white);
  padding: 3% 1%;
  width: 90%;
  height: fit-content;
  margin: 0 0 5% -95%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section_01 .service_description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  margin: 0 0 5%;
}
.section_01 .service_title {
  width: 40%;
}
.section_01 .service_info {
  width: 55%;
}
.section_01 .service_title h2 {
  font-family: "Playfair_regular";
  font-size: 2.9rem;
  color: var(--black);
  text-align: left;
}
.section_01 .service_title p,
.section_01 .contact_info h3 {
  font-family: "RobotoRegular";
  font-size: 1rem;
  font-weight: 600;
  color: var(--light-pink);
  text-align: left;
}
.section_01 .service_info p,
.section_01 .contact_info p {
  font-family: "RobotoRegular";
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: var(--dark-gray);
  text-align: left;
}
.section_01 .contact_component {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 4em 0;
}
.section_01 .contact_image {
  padding: 0;
  background-image: url(../img/Girl-flower.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 60%;
  margin: 4% 0 0 0;
  z-index: 1;
}
.section_01 .contact_info {
  width: 50%;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.4);
  margin: 0 0 4% -5%;
  background-color: var(--white);
  z-index: 2;
}
.section_01 .contact_info h2,
.section_01 .contact_info p {
  margin: 2.5% 5% 0;
}
.section_01 .contact_info h2 {
  font-family: "Playfair_regular";
  font-size: 2.5rem;
  color: var(--black);
  text-align: left;
  margin: 2.5% 5% 0;
}
.section_01 .contact_info h3 {
  margin: 5% 5% 0;
}
.section_01 .contact_info button {
  padding: 1em 1.75em;
  border-radius: 2em;
  font-family: "RobotoRegular";
  font-size: 0.8rem;
  font-weight: 900;
  color: var(--white);
  background-color: var(--light-pink);
  margin: 5% 5% 5%;
  cursor: pointer;
}
/* END Section 1 */

/* Section 3 */
.section3 * {
  transition: all 0.3s ease-in-out;
}

.section3 .flower_background {
  background-image: url("../img/flower_background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 4em 0;
}

.section3 .content_flower_background,
.section3 .body_last_post {
  width: 85%;
  margin: 0 auto;
}

.section3 .content_flower_background > div:first-of-type > div {
  width: 80%;
  max-width: 530px;
}

.section3 .title_flower_back {
  font-family: "RobotoRegular";
  font-size: 1.5rem;
  margin: 0 0 1em;
}

.section3 .txt_flower_back {
  font-family: "Playfair_regular";
  font-size: 3rem;
  font-style: italic;
  line-height: 2.7rem;
}

.section3 .title_flower_back,
.section3 .txt_flower_back {
  text-shadow: 1px 1px 5px #000;
  color: #fff;
}

.section3 .link_flower_background {
  display: flex;
  flex-wrap: wrap;
  margin: 2em 0 0;
}

.section3 .link_flower_background a {
  text-decoration: none;
  border-radius: 1em;
  padding: 0.5em 1em;
  font-size: 1.5rem;
  margin: 1em 1em 0 0;
  font-family: "RobotoRegular";
  background-color: #fff;
  color: #f45d96;
}

.section3 .link_flower_background a:hover {
  background-color: #f45d96;
  color: #fff;
}

.section3 .link_flower_background a:first-child {
  background-color: #f45d96;
  color: #fff;
}

.section3 .link_flower_background a:first-child:hover {
  background-color: #fff;
  color: #f45d96;
}

.section3 .blog_home {
  padding: 3em 0;
}

.section3 .title_last_post {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 0 4em;
  margin: 0 1%;
}

.section3 .title_last_post div {
  width: 50%;
  text-align: right;
}

.section3 .title_last_post div:first-of-type {
  text-align: left;
}

.section3 .title_last_post span {
  font-size: 1rem;
  text-transform: uppercase;
  color: #f45d96;
  margin: 0 0 0.5em;
  font-family: "RobotoRegular";
}

.section3 .title_last_post h3 {
  font-family: "Playfair_regular";
  font-size: 3rem;
  font-weight: lighter;
}

.section3 .title_last_post a {
  text-decoration: none;
  border: 2px solid #f45d96;
  border-radius: 2em;
  padding: 1em;
  font-size: 1rem;
  text-transform: uppercase;
  color: #000;
  font-family: "RobotoRegular";
}

.section3 .title_last_post a:hover {
  background-color: #f45d96;
  color: #fff;
}

.section3 .list_posts {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.section3 .post_home {
  width: 31.33%;
  margin: 1em 1%;
  box-shadow: 0 0 1.2em grey;
  overflow: hidden;
}

.section3 .post_home:hover {
  transform: scale(1.05);
}

.section3 .post_home a {
  color: transparent;
  text-decoration: none;
  display: block;
}

.section3 .post_home .body_post {
  position: relative;
}

.section3 .post_home > a > div:first-of-type {
  aspect-ratio: 1/1;
}

.section3 .post_home img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section3 .body_post {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  padding: 2em 0;
}

.section3 .categorie_post {
  position: absolute;
  top: -1.3em;
  left: 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.section3 .categorie_post div {
  padding: 0.4em 0.8em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  font-family: "RobotoRegular";
}

.section3 .title_post {
  font-size: 1.4rem;
  font-family: "Playfair_regular";
  color: #000;
}

.section3 .desc_post,
.date_post {
  font-family: "RobotoRegular";
  font-size: 1rem;
}

.section3 .section3 .desc_post {
  padding: 1em 0;
  line-height: 1.2rem;
  color: grey;
}

.section3 .date_post {
  text-transform: uppercase;
  color: grey;
}
/* END Section 3 */

/* Section 4*/
.section4{
  /* width: 85%; */
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  
}
.section4 .fondo{
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.section4 img{
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.section4 .quote{
  margin-top: 3em;
  width: 10%;
  height: auto;
}
.section4 .box{
  width: 100%;
  background-image: url("../img/appleflower.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.section4 .texto {
  width: 40%;
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 5em 0;
}
.section4 .texto p{
    font-style: italic;
    margin-top: 1em;
}
.section4 .texto h2{
  margin-top: 1em;
}
.section4 .texto h3{
  margin-top: .8em;
  color:rgb(107, 107, 107);
  font-size: .8em;
}
.section4 .flores{
  width: 100%;
  display: flex;
 }
.section4 .flores img{
  width: 100%;
}
.section4 .flores div{
  width: 20%;
  padding: .3em;
}
/*END Section 4*/

/*RESPONSIVES*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 2000px) {
  .section_01 .business_icon i {
    font-size: calc(1.1 / 0.785 * 2rem);
  }
  .section_01 .business_info h3,
  .section_01 .product_info h2 {
    font-size: calc(1.1 / 0.785 * 1.2rem);
  }
  .section_01 .business_info p,
  .section_01 .product_info p {
    font-size: calc(1.1 / 0.785 * 1rem);
  }
  .section_01 .service_title h2 {
    font-size: calc(1.1 / 0.785 * 2.9rem);
  }
  .section_01 .service_title p,
  .section_01 .contact_info h3 {
    font-size: calc(1.1 / 0.785 * 1rem);
  }
  .section_01 .service_info p,
  .section_01 .contact_info p {
    font-size: calc(1.1 / 0.785 * 1.2rem);
    line-height: calc(1.1 / 0.785 * 2.2rem);
  }
  .section_01 .contact_info h2 {
    font-size: calc(1.1 / 0.785 * 2.5);
  }
  .section_01 .contact_info button {
    font-size: calc(1.1 / 0.785 * 0.8rem);
  }
}

/* Large devices (laptops/desktops, between 993px and 1200px) */
@media only screen and (max-width: 1200px) {
  .section_01 .business_icon i {
    font-size: calc(1 / 0.785 * 2rem);
  }
  .section_01 .business_info h3,
  .section_01 .product_info h2 {
    font-size: calc(1 / 0.785 * 1.2rem);
  }
  .section_01 .business_info p,
  .section_01 .product_info p {
    font-size: calc(1 / 0.785 * 1rem);
  }
  .section_01 .service_title h2 {
    font-size: calc(1 / 0.785 * 2.9rem);
  }
  .section_01 .service_title p,
  .section_01 .contact_info h3 {
    font-size: calc(1 / 0.785 * 1rem);
  }
  .section_01 .service_info p,
  .section_01 .contact_info p {
    font-size: calc(1 / 0.785 * 1.2rem);
    line-height: calc(1 / 0.785 * 2.2rem);
  }
  .section_01 .contact_info h2 {
    font-size: calc(1 / 0.785 * 2.5);
  }
  .section_01 .contact_info button {
    font-size: calc(1 / 0.785 * 0.8rem);
  }
}

/* Large devices (laptops/desktops, between 769px and 992px) */
@media only screen and (max-width: 992px) {
  .section_01 .business_icon i {
    font-size: calc(0.7 / 0.785 * 2rem);
  }
  .section_01 .business_info h3,
  .section_01 .product_info h2 {
    font-size: calc(0.7 / 0.785 * 1.2rem);
  }
  .section_01 .business_info p,
  .section_01 .product_info p {
    font-size: calc(0.7 / 0.785 * 1rem);
  }
  .section_01 .service_title h2 {
    font-size: calc(0.7 / 0.785 * 2.9rem);
  }
  .section_01 .service_title p,
  .section_01 .contact_info h3 {
    font-size: calc(0.7 / 0.785 * 1rem);
  }
  .section_01 .service_info p,
  .section_01 .contact_info p {
    font-size: calc(0.7 / 0.785 * 1.2rem);
    line-height: calc(0.7 / 0.785 * 2.2rem);
  }
  .section_01 .contact_info h2 {
    font-size: calc(0.7 / 0.785 * 2.5);
  }
  .section_01 .contact_info button {
    font-size: calc(0.7 / 0.785 * 0.8rem);
  }
}

/* Medium devices (landscape tablets, between 601px and 768px) */
@media only screen and (max-width: 768px) {
  .section_01 .business_qualities_box,
  .section_01 .product_display_box {
    width: 47%;
  }
  .section_01 .contact_component {
    flex-direction: column;
    margin: 2em 0;
    height: fit-content;
  }
  .section_01 .contact_image {
    width: 90%;
    padding: 30% 0;
    margin: 0 10% 0 0;
  }
  .section_01 .contact_info {
    width: 90%;
    margin: -5% 0 0 10%;
  }
  .section_01 .business_icon i {
    font-size: calc(0.9 / 0.785 * 2rem);
  }
  .section_01 .business_info h3,
  .section_01 .product_info h2 {
    font-size: calc(0.9 / 0.785 * 1.2rem);
  }
  .section_01 .business_info p,
  .section_01 .product_info p {
    font-size: calc(0.9 / 0.785 * 1rem);
  }
  .section_01 .service_title h2 {
    font-size: calc(0.9 / 0.785 * 2.9rem);
  }
  .section_01 .service_title p,
  .section_01 .contact_info h3 {
    font-size: calc(0.9 / 0.785 * 1rem);
  }
  .section_01 .service_info p,
  .section_01 .contact_info p {
    font-size: calc(0.9 / 0.785 * 1.2rem);
    line-height: calc(0.9 / 0.785 * 2.2rem);
  }
  .section_01 .contact_info h2 {
    font-size: calc(0.9 / 0.785 * 2.5);
  }
  .section_01 .contact_info button {
    font-size: calc(0.9 / 0.785 * 0.8rem);
  }
}

/* Extra small devices (phones, between 500 px and 600px) */
@media only screen and (max-width: 600px) {
  /* Section 1 */
  .section_01 .service_description {
    flex-direction: column;
  }
  .section_01 .service_title {
    width: 100%;
  }
  .section_01 .service_info {
    width: 100%;
  }
  .section_01 .business_icon i {
    font-size: calc(1 / 0.785 * 2rem);
  }
  .section_01 .business_info h3,
  .section_01 .product_info h2 {
    font-size: calc(1 / 0.785 * 1.2rem);
  }
  .section_01 .business_info p,
  .section_01 .product_info p {
    font-size: calc(1 / 0.785 * 1rem);
  }
  .section_01 .service_title h2 {
    font-size: calc(1 / 0.785 * 2.9rem);
  }
  .section_01 .service_title p,
  .section_01 .contact_info h3 {
    font-size: calc(1 / 0.785 * 1rem);
  }
  .section_01 .service_info p,
  .section_01 .contact_info p {
    font-size: calc(1 / 0.785 * 1.2rem);
    line-height: calc(1 / 0.785 * 2.2rem);
  }
  .section_01 .contact_info h2 {
    font-size: calc(1 / 0.785 * 2.5);
  }
  .section_01 .contact_info button {
    font-size: calc(1 / 0.785 * 0.8rem);
  }
  /* End Section 1 */

  /* Section 3 */
  .section3 .post_home {
    width: 98%;
  }

  .section3 .title_last_post div {
    width: 100%;
  }
  .section3 .title_last_post div:first-of-type {
    margin: 0 0 2em;
  }
  .section3 .title_last_post div:last-child {
    text-align: center;
  }
  /* End Section 3 */
}

/* Very small devices (phones, smaller than 500 px) */
@media (max-width: 500px) {
  .section_01 .business_qualities_box,
  .section_01 .product_display_box {
    width: 100%;
  }
  .section_01 .service_title h2 {
    font-size: calc(0.8 / 0.785 * 2.9rem);
  }
  .section_01 .service_title p,
  .section_01 .contact_info h3 {
    font-size: calc(0.8 / 0.785 * 1rem);
  }
  .section_01 .service_info p,
  .section_01 .contact_info p {
    font-size: calc(0.8 / 0.785 * 1.2rem);
    line-height: calc(0.8 / 0.785 * 2.2rem);
  }
  .section_01 .contact_info h2 {
    font-size: calc(0.8 / 0.785 * 2.5);
  }
  .section_01 .contact_info button {
    font-size: calc(0.8 / 0.785 * 0.8rem);
  }
}
