@font-face {
	font-family: 'RobotoRegular';
	src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Playfair_regular';
	src: url('../fonts/playfair_display/static/PlayfairDisplay-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}

:root {
  font-size: 0.785rem;
}
.section4{
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  
}
.section4 .fondo{
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.section4 img{
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.section4 .quote{
  margin-top: 3em;
  width: 10%;
  height: auto;
}
.section4 .box{
  width: 100%;
  background-image: url("../img/appleflower.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.section4 .texto {
  width: 40%;
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 5em 0;
}
.section4 .texto p{
    font-style: italic;
    margin-top: 1em;
}
.section4 .texto h2{
  margin-top: 1em;
}
.section4 .texto h3{
  margin-top: .8em;
  color:rgb(107, 107, 107);
  font-size: .8em;
}
.section4 .flores{
  width: 100%;
  display: flex;
 }
.section4 .flores img{
  width: 100%;
}
.section4 .flores div{
  width: 20%;
  padding: .3em;
}
